[run]
source = jackfrost
omit =
    jackfrost/test_*
branch = True
data_file = .coverage
timid = False

[report]
exclude_lines =
    pragma: no cover

precision = 0
show_missing = True
omit =
    jackfrost/test_*

[xml]
output = coverage.xml
